/* Start of Navbar */

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  transition: ease-in-out 0.3s;
  color: var(--white);
}

.bg-header, .video-demo {
  
  background-color: var(--footer);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  z-index: 1;
  padding: 3.5rem 0;
}

.bg-header { background-image: url("../assets/images/bg-header-1.jpg");}
.video-demo { background-image: url("../assets/images/bg-demo.jpg");}

.bg-header::before {
  background-image: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
}

.nav-link a {
  color: var(--white);
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  text-transform: uppercase;
  margin-right: var(--size-40);
  line-height: var(--size-20);
}

.hero-header {
  color: var(--white);
}

/* End of Navbar */

/* Start of Why Me */

.why-me {
  padding: var(--size-150) 0;
}

.why-me-wrapper {
  display: flex;
  align-items: center;
}

.why-me-wrapper div {
  flex: 1;
}

.block-text {
  padding-right: var(--size-50);
}

.block-text span {
  color: var(--font-color-dark);
  font-weight: 300;
}

.block-text h2 {
  font-size: var(--size-40);
  font-family: "Hinds", sans-serif;
  font-weight: 600;
  color: var(--font-color-dark);
  margin-bottom: var(--size-20);
  line-height: 1.3;
  margin-top: 0.5rem;
}

/* End of Why Me */

/* Start of Services */

.bg-contrast {
  background-color: var(--contrast);
  padding: var(--size-150) 0;
  margin: 0 auto;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--size-20);
}

.service-card {
  padding: var(--size-30);
  box-shadow: 0 0 10px rgb(48 63 100 / 15%);
  background: white;
  border-radius: 8px;
}

.service-card span {
  width: 4.375rem;
  height: 4.375rem;
  display: block;
  float: left;
  margin-right: 15px;
  border-radius: 50%;
  background-color: var(--font-color-light);
}

span.bg-color-1 { background-image: linear-gradient(90deg, #55EDC0 0%, #4BDBDB 100%); }
span.bg-color-2 { background-image: linear-gradient(90deg, #FDA498 0%, #F58B9E 100%); }
span.bg-color-3 { background-image: linear-gradient(90deg, #9CCDF3 0%, #94AAFD 100%); }
span.bg-color-4 { background-image: linear-gradient(90deg, #F2A7CA 0%, #C289F4 100%); }
span.bg-color-5 { background-image: linear-gradient(90deg, #A1ECFF 0%, #7DBCFF 100%); }
span.bg-color-6 { background-image: linear-gradient(90deg, #FFC187 0%, #FE93A7 100%); }

/* End of Services */

/* Start of Video Demo */

.video-demo { text-align: center; }
.video-demo .block-text { padding-right: 0; }

.video-demo .block-text h2, .video-demo .block-text p {
  color: var(--white);
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgb(57 166 251 / 30%);
}

.video-btn img {
  width: var(--size-100);
  height: var(--size-100);
}

.video-box {
  position: relative;
  margin-bottom: -9.375rem;
  z-index: 100;
}

.video-box > img {
  max-width: 600px;
  border-radius: 8px;
}

/* End of Video Demo */

/* Start of Pricing Plans */

.block-text.pricing-header { 
  text-align: center;
  padding-right: 0;
  margin: var(--size-100) 0;
}

.pricing-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  gap: var(--size-18);
  margin: auto;
  align-items: flex-start;
}

.price-card {
  background-color: var(--white);
  border-radius: 8px;
  padding: var(--size-16);
}

.price-card .checked { color: var(--success); }
.price-card .times { color: var(--danger); }

.price-card.featured {
  box-shadow: 0 10px 20px rgba(82, 179, 255, 0.2);
  margin-top: -1rem;
}

.price-card h3 {
  margin-top: var(--size-40);
  font-size: var(--size-18);
  color: var(--font-color-dark);
  font-weight: 600;
}

.price-card hr { margin: 2rem 0 1rem; }

.price {
  color: var(--font-color-link);
  font-size: var(--size-30);
  font-weight: 600;
  line-height: 60px;
}

.price-card h3, .price-card .price,
.price-card .billed { text-align: center; }

.pricing-table ul { line-height: 20px; }

.price-card li { margin-bottom: var(--size-20); }
.price-card .icon { 
  float: right;
  font-weight: 600;
}

.plan-btn-wrapper { text-align: center; }
/* End of Pricing Plans */

/* Start of Testimonials */

.testimonials { margin: var(--size-100) 0; }

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: var(--size-20);
  margin: 0 auto; 
}

.testimonials .block-text {
  padding-right: 0;
  text-align: center;
  margin: var(--size-100) 0;
}

.testimonial-card {
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: var(--size-30);
}

.testimonial-card.lg {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.testimonial-card .quote {
  width: 4.375rem;
  float: right;
  margin-top: var(--size-16);
}

.testimonial-card.md .bottom p { font-size: var(--size-14);}

.testimonial-card .top {
  display: flex;
  align-items: center;
  padding-bottom: var(--size-10);
}

.testimonial-card img.profile {
  width: 4.375rem;
  border-radius: 50%;
  margin-right: var(--size-20);
}

.testimonial-card.lg img.profile { width: 5rem; }

.top h4 {
  margin-top: 0;
  margin-bottom: var(--size-10);
  font-weight: 600;
  font-size: var(--size-18);
}

.bottom p {
  margin: 0;
  font-size: var(--size-16);
  line-height: 1.6;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--size-50);
  padding: var(--size-100) 0;
}

/* End of Testimonials */

/* Start of Footer */

footer.bg-footer { background-color: var(--footer); }

footer .footer-bottom { background-color: var(--footer-base); }

footer .footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--size-50);
  padding: var(--size-100) 0;
}

footer .footer-col { justify-self: center; }

.footer-top h5 {
  color: var(--white);
  font-weight: 500;
  margin-bottom: var(--size-16);
}

.contact-info li {
  color: var(--white);
  margin-bottom: var(--size-10);
}

.contact-info li i {
  padding-right: var(--size-10);
}

.social-icons ul li {
  display: inline-block;
  width: 20px;
  height: 30px;
  margin: 13px;
}

.icons {
  width: 30px;
  height: 30px;
  padding-right: var(--size-10);
}






/* End of Footer */